<section  class="product_outer">
<div class="outer">
  <div class="inline">
    <p class="inline-block bold">Name : &nbsp;</p><p class="inline-block">{{productDetails.name  }} </p>
  </div>
  <br>
  <div class="inline">
    <p class="inline-block bold">Description :  &nbsp;</p><p class="inline-block"> {{productDetails.description}}</p>
  </div>
  <br>
  <div class="inline">
    <p class="inline-block bold">Link :  &nbsp;</p><p class="inline-block">{{productDetails.link}} </p>
  </div>
  <div class="image_outer">
    <img [src]="config.image + productDetails.image" onerror="this.src='../../assets/images/no-image.png'">
  </div>
  <button type="button" class="close_button btn btn-primary" (click)="closePopup()"> Close</button>
</div>
</section>



