.product_outer{
  z-index: 10;
  height: 469px;
  width:450px;
  background-color: #dcdcdc;
  position: absolute;
  top: 21%;
  left: 28%;
}
img{
  width: 100%;
}
.inline{
  display: inline;
}

.inline-block{
  display: inline-block;
}

.image_outer{
  width: 250px;
  margin-left: 21%;
  margin-top: 5%;
}

.close_button{
  margin-left: 43%;
  margin-top: 5%;
}

.outer{
  width: 85%;
  margin-left: 7%;
  margin-top: 2%;
}

.bold{
  font-weight: bold;
}
