<section class="container login-form login-body">
  <section>
    <form method="post" action="" role="login" (submit)="userLogin()" >
      <img src="assets/images/logo.png" alt="" class="img-responsive" />

      <div class="form-group">
        <input type="email" name="email" [(ngModel)]="login.email" required class="form-control" placeholder="Enter email or nickname" />
        <span class="glyphicon glyphicon-user"></span>
      </div>

      <div class="form-group">
        <input type="password" name="password" [(ngModel)]="login.password" required class="form-control" placeholder="Enter password" />
        <span class="glyphicon glyphicon-lock"></span>
      </div>

      <button type="submit" name="go" class="btn btn-primary btn-block" (click)="userLogin()">Login Now</button>

      <a href="#">Reset password</a> or <a href="#">create account</a>
    </form>
  </section>
</section>
