h1{
  text-align: center;
  color: white;
}
.left
{
  float: left;
}
.right
{
  float: right;
}
.clear
{
  clear: both;
}
img{
  width: 100%;
}

.containerr{
  margin-top: 11%;
  overflow-y: scroll;
  height: 500px;
}

.product{
  height: 90px;
  background-color: aquamarine;
  border: solid #dcdcdc;
}

.name{
  margin-top: 2%;
}

.description{
  margin-top: 2%;
}

.image_container{
  height: 70px;
  width: 70px;
  object-fit: cover;
  text-align: center;
}

.box{
  background-color:#FFF;
  padding : 20px;
}
.inner{
  background:orange;
  text-align:center;
  border-radius:20px;
  height:auto;
  box-shadow: 10px 10px 5px #888888;
}
.inner>img{
  width:100%;
  height:98%;
}
