<section>
  <h1>{{title}}</h1>

    <div class="row">

      <div class="col-md-3 col-sm-4 col-xs-2 box" *ngFor="let product of products" (click)="showProductDetails(product)">
        <div class="inner">
          <img  [src]="config.image + product.image" onerror="this.src='../../assets/images/no-image.png'">
          {{product.name}}</div>
      </div>

      <router-outlet>

      </router-outlet>

    </div>

<!--

  <div class="card" style="width: 20rem;" *ngFor="let product of products" (click)="showProductDetails(product)">
    <img class="card-img-top" [src]="config.image + product.image" onerror="this.src='../../assets/images/default.jpg'" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">{{product.name}}</h4>
      <p class="card-text">{{product.description}}</p>
      <div class="btn btn-primary">Go somewhere</div>
    </div>
  </div>
-->

</section>
